
#map {
  width: 100%;
  height: 100%;
  background: $clr-main;
}

.btn-collapse {
  width: 0.25rem;
  height: 0.5rem;
  background: url('/images/icon_gps.svg') center center no-repeat;
  background-size: cover;
  background-color: $clr-main;
  transition: 0.3s;
  transform: rotate(0deg);
}

