
.btn-collapse {
  width: 0.25rem;
  height: 0.5rem;
  background: url('/images/icon_gps.svg') center center no-repeat;
  background-size: cover;
  background-color: #668AFE;
  transition: 0.3s;
  transform: rotate(0deg);
}

