/* variables */
$f-size-1: 1rem * 0.875;
$f-size-2: 1rem;
$f-size-3: 1rem * 1.125;

$f-type-title: 'Noto Sans TC';
$f-type-normal: 'Noto Sans TC Regular';

$clr-black: black;
$clr-white: white;
$clr-font-title: #333333;
$clr-font-article: #888888;
$clr-btn-active-text: #FFFFFF;
$clr-btn-disable: #E2E2E2;
$clr-btn-disable-text: #9C9C9C;
$clr-adult: #668AFE;
$clr-child: #78D5D7;
$clr-both: #6FAFEA;


