/* variables */
$f-size-1: 1rem * 0.875;
$f-size-2: 1rem;
$f-size-3: 1rem * 1.125;
$f-size-4: 1rem * 1.5;
$f-size-5: 1rem * 2;

$f-type-title: 'Noto Sans TC';
$f-type-normal: 'Noto Sans TC Regular';

$clr-black: black;
$clr-white: white;
$clr-font-title: #333333;
$clr-font-msg: #888888;
$clr-font-active: #FFFFFF;
$clr-font-disabled: #9C9C9C;
$clr-btn-disabled: #E2E2E2;
$clr-adult: #668AFE;
$clr-adult-half: #668AFE80;
$clr-child: #78D5D7;
$clr-child-half: #78D5D780;
$clr-both: #6FAFEA;
$clr-main: $clr-adult;
$clr-main-pressed: $clr-adult * 0.8;
$clr-main-half: #668AFE80;
$clr-second: $clr-child;

